// Here you can add other styles

@function rem($px-value) {
  @return $px-value / 16 * 1rem;
}

// ChatHistory QnA style S
.code-block {
  position: relative;

  &-syntax-highlighter {
    border-radius: 15px !important;
  }

  .code-copy-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: lightgray;
  }
}

.reactMarkdown {
  p, ul, ol, pre {
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  h1, h2, h3 {
    line-height: 1.6;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
  }

  pre {
    line-height: 1.4;
  }

  img {
    width: 100%;
    height: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  }
}

// ChatHistory QnA style E

// Common S
.white-space-pre {
  white-space: pre;
}

.color-button-text-white {
  --cui-btn-color: white;
  --cui-btn-hover-color: white;
  --cui-btn-active-color: white;
}

// Common E

// Global Loading Cover S
.global-loading-cover-position {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  transform: translateY(-20%);

  .global-loading-cover {
    width: 4rem;
    height: 4rem;
    --cui-spinner-border-width: 10px;
  }
}

// Global Loading Cover E



// Dashboard Style S

.table-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: rem(20) rem(20);
}

.table-container {
  position: relative;
  transition: all 0.3s ease;
}

//.table-expanded {
//  z-index: 2;
//}

.table-expanded-left {
  z-index: 2;
}

.table-expanded-right {
  z-index: 2;
}

.collapsable-table-header {
  display: table-cell;
  vertical-align: inherit;
  white-space: nowrap;
}

.collapsable-table-data {
  display: table-row;
  vertical-align: inherit;
}

// Dashboard Style E
